<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lf.jssm.db.dao.AhEwmMapper">
  <resultMap id="AhEwmMap" type="org.lf.jssm.db.pojo.AhEwm">
 		<result column="AH" jdbcType="VARCHAR" property="ah" /> 
 		<result column="JZ_EWM" jdbcType="VARCHAR" property="jz_ewm" />
  </resultMap>  
  
</mapper>