<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lf.jssm.db.dao.CAjuanYjflMapper">
  <resultMap id="CAjuanYjfl" type="org.lf.jssm.db.pojo.CAjuanYjfl">
		<result column="dm" jdbcType="VARCHAR" property="dm" /> 
 		<result column="mc" jdbcType="VARCHAR" property="mc" /> 
 		<result column="pym" jdbcType="VARCHAR" property="pym" />
 		<result column="tybz" jdbcType="CHAR" property="tybz" /> 
 		<result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>  
  <insert id="insert" parameterType="org.lf.jssm.db.pojo.CAjuanYjfl">
		insert into c_ajuan_yjfl(dm, mc, pym,tybz)
		values (#{dm,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR},
		#{pym,jdbcType=VARCHAR},
		#{tybz,jdbcType=CHAR})
	</insert>
</mapper>